.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card p {
  font-weight: bold;
  margin-top: 5px;
}
